:root {
    /* Palette */
    --pinewood-primary-color: #002b5b;
    --pinewood-accent-color: #ff6a13;
    --dark-text-color: #000000;
    --light-text-color: #ffffff;
    --dark-background-color: #272822;
    --light-background-color: #e6e6e6;

    /* Font */
    --font-family: 'Roboto';
    --mini-font-size: 12px;
    --small-font-size: 15px;
    --medium-font-size: 16px;
    --large-font-size: 17px;
    --header-font-size: 20px;
    /* Spacing */
    --spacing: 16px;

    --navbar-height: 44px;
}

    :root .darkmode {
        /* Palette */
        --primary-text-color: #ffffff;
        --secondary-text-color: #000000;
        --primary-background-color: #272822;
        --secondary-background-color: #e6e6e6;
    }

    :root .lightmode {
        /* Palette */
        --primary-text-color: #000000;
        --secondary-text-color: #ffffff;
        --primary-background-color: #e6e6e6;
        --secondary-background-color: #272822;
    }